@model MovieBookingSite.Showing

@{
    ViewData["Title"] = "Buy";
}

<h1>Buy Tickets</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Buy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Tickets to buy</label>
                <select name="numberOfTickets">
                    @for (int i = 1; i <= 12; i++)
                    {
                        if (i <= Model.TicketsLeft)
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
                <input type="submit" value="Buy" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="d-md-block col-md-12">
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => Model.Movie.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Model.Movie.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Model.ShowTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Model.Salon.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Model.TicketPrice)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(Model.Movie.ImageThumbnail);
                            var imgSrc = string.Format("data:image.jpg;base64, {0}", base64);
                        }
                        <img class="d-block img-fluid rounded" src="@imgSrc" alt="@Model.Movie.Name" />
                    </td>
                    <td>
                        @Html.DisplayFor(item => Model.Movie.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(item => Model.ShowTime)
                    </td>
                    <td>
                        @Html.DisplayFor(item => Model.Salon.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(item => Model.TicketPrice)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}